<!DOCTYPE html>
<html>

<head>
    <title>DR LUXARY WEARS</title>

    <style>
        section {
            display: flex;
            justify-content: space between;
            gap: 2em
        }

        div {
            width: 15em;
            background: white;
            border-radius: 3em;
            padding: 2em;
        }

        imgrepresent {
            width: 10em;
            height: 10em;
            border-radius: 20em;
            background: blue;
            padding: 1em
        }

        img {
            width: 10em;
            height: 10em;
            border-radius: 5em;
        }

        #brown-p3 {
            color: brown;
            font-size: 35px;
            background: red
        }

        div
    </style>
    </div>
</head>

<body>
    <h1>WELCOME TO DR LUXURY WEARS</h1>
    <h3>All LUXURY shoes</h3>
    <div>
        <!--logo for the website -->
        <img src="./images/logo.jpg" alt="logo" height="0.5cm" width="0.5cm" border-radius="1em" />
        <section>
            <div>
                <h2>louis vuitton</h2>
                <div class="imgrepresent">
                    <img src="./images/lv.jpg" alt="lv shoe" />
                </div>
                <p>this shoe as a better grip than any other corperate shoe</p>
                <p>size: 45</p>
                <p>color: black</p>
                <p>price: $125 </p>
                <!-- download button -->
                <button
                    style="background:skyblue;color:white;font-weight:bold;padding-top:1em;padding-left:2em;padding-right:2em;padding-bottom:1em;border-radius:2em">shop
                    now</button>
            </div>
            <div>
                <h2>jordan 1 (nike)</h2>
                <div class="imgrepresent">
                    <img src="./images/jordan1.jpg" alt="jordan1">
                </div>
                <p>this shoe as a better grip</p>
                <p>size: 45</p>
                <p>color: blue</p>
                <p>price: $756.54 </p>
                <!-- download button -->
                <button
                    style="background:skyblue;color:white;font-weight:bold;padding-top:1em;padding-left:2em;padding-right:2em;padding-bottom:1em;border-radius:2em">shop
                    now</button>
            </div>
            <div>
                <h2>Addidas</h2>
                <div class="imgrepresent">
                    <img src="./images/Addidas.jpg" alt="Addidas">
                </div>
                <p>this shoe as a better grip than any other basketball shoe</p>
                <p>size: 44</p>
                <p>color: black and white</p>
                <p>price: $495.74 </p>
                <!-- download button -->
                <button
                    style="background:skyblue;color:white;font-weight:bold;padding-top:1em;padding-left:2em;padding-right:2em;padding-bottom:1em;border-radius:2em">shop
                    now</button>
            </div>
            <div>
                <h2>Retro 6</h2>
                <div class="imgrepresent">
                    <img src="./images/Retro6.jpg" alt="Retro 6">
                </div>
                <p>this shoe as a better grip with a carmon color </p>
                <p>size: 44</p>
                <p>color: carmon color</p>
                <p>price: $1450 </p>
                <!-- download button -->
                <button
                    style="background:skyblue;color:white;font-weight:bold;padding-top:1em;padding-left:2em;padding-right:2em;padding-bottom:1em;border-radius:2em">shop
                    now</button>
            </div>
            <!--
	      	section{
    display:flex;
    justify-content: space between;
  gap:2em 
  }
  div{
			width:15em;
			background: white;
			border-radius:3em;
			padding: 2em;
			 }
			 imgrepresent{
			width:10em;
			height:10em;
			border-radius: 20em;
			background:blue;
			padding:1em
			 }
			 img{
			width:10em;
			height:10em;
			border-radius: 5em;
		}
		 #brown-p3{
			 	color:brown;
			 	font-size:35px;
			 	background:red
			 }
			 -->
            <div>
                <h2>Air force 1</h2>
                <div class="imgrepresent">
                    <img src="./images/Airforce1.jpg" alt="Air force shoe" />
                </div>
                <p>this shoe as a better grip than any other corperate shoe</p>
                <p>size: 45</p>
                <p>color: white</p>
                <p>price: $125 </p>
                <!-- download button -->
                <button
                    style="background:skyblue;color:white;font-weight:bold;padding-top:1em;padding-left:2em;padding-right:2em;padding-bottom:1em;border-radius:2em">shop
                    now</button>
                </d1iv>

                <div>
                    <h2>louis vuitton</h2>
                    <div class="imgrepresent">
                        <img src="./images/louisvuitton.jpg" alt="louis vuitton">
                    </div>
                    <p>this shoe as a better grip</p>
                    <p>size: 45</p>
                    <p>color: red and white</p>
                    <p>price: $756.54 </p>
                    <!-- download button -->
                    <button
                        style="background:skyblue;color:white;font-weight:bold;padding-top:1em;padding-left:2em;padding-right:2em;padding-bottom:1em;border-radius:2em">shop
                        now</button>
                </div>
                <div>
                    <h2>amiri</h2>
                    <div class="imgrepresent">
                        <img src="./images/Amiri.jpg" alt="Amiri">
                    </div>
                    <p>this shoe as a better grip and a very strong leather </p>
                    <p>size:41,42,43,45,</p>
                    <p>color: All colors</p>
                    <p>price: $1220 </p>
                    <!-- download button -->
                    <button
                        style="background:skyblue;color:white;font-weight:bold;padding-top:1em;padding-left:2em;padding-right:2em;padding-bottom:1em;border-radius:2em">shop
                        now</button>
                </div>
                <div>
                    <h2>louis vuitton</h2>
                    <div class="imgrepresent">
                        <img src="./images/lv2.jpg" alt="lv2">
                    </div>
                    <p>this shoe as a better grip with a carmon color </p>
                    <p>size: 44</p>
                    <p>color: white and black</p>
                    <p>price: $1500 </p>
                    <!-- download button -->
                    <button
                        style="background:skyblue;color:white;font-weight:bold;padding-top:1em;padding-left:2em;padding-right:2em;padding-bottom:1em;border-radius:2em">shop
                        now</button>
                </div>
                <div>
                    <h2>All star</h2>
                    <div class="imgrepresent">
                        <img src="./images/Allstar.jpg" alt="All star">
                    </div>
                    <p>this shoe as a better grip with a carmon color </p>
                    <p>size: 44</p>
                    <p>color: white and black</p>
                    <p>price: $1500 </p>
                    <!-- download button -->
                    <button
                        style="background:skyblue;color:white;font-weight:bold;padding-top:1em;padding-left:2em;padding-right:2em;padding-bottom:1em;border-radius:2em">shop
                        now</button>
                </div>

                <div>
                    <h2>ogyi</h2>
                    <div class="imgrepresent">
                        <img src="./images/ogyi.jpg" alt="ogyi">
                    </div>
                    <p>this shoe as a better grip with a carmon color </p>
                    <p>size: 44</p>
                    <p>color: white and black</p>
                    <p>price: $1500 </p>
                    <!-- download button -->
                    <button
                        style="background:skyblue;color:white;font-weight:bold;padding-top:1em;padding-left:2em;padding-right:2em;padding-bottom:1em;border-radius:2em">shop
                        now</button>
                </div>
                <div>
                    <h2>Addidas</h2>
                    <div class="imgrepresent">
                        <img src="./images/Addi.jpg" alt="addidas">
                    </div>
                    <p>this shoe as a better grip with a carmon color </p>
                    <p>size: 44</p>
                    <p>color: All colors</p>
                    <p>price: $1500 </p>
                    <!-- download button -->
                    <button
                        style="background:skyblue;color:white;font-weight:bold;padding-top:1em;padding-left:2em;padding-right:2em;padding-bottom:1em;border-radius:2em">shop
                        now</button>
                </div>
        </section>
</body>

</html>