@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body{
   /* overflow-x: hidden; */
   background-color: black;

 }
.bgImage {
  /* height: 90vh; */
  background-image: url(../walls.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  
}

.custom-shadow {
  box-shadow: 0 0 20px rgba(202, 202, 202, 0.2);
}