@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImage {
  /* height: 90vh; */
  background-image: url(https://images.pexels.com/photos/7598668/pexels-photo-7598668.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
