@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImage {
  /* height: 90vh; */
  background-image: url(https://images.pexels.com/photos/3784143/pexels-photo-3784143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
